<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="public/css/style.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="public/js/style.js"></script>
    <script src="js/style.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/gif/png" href="public/img/profile-no-bg.png">
    <link rel="icon" type="image/gif/png" href="img/profile-no-bg.png">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-B9C6TRKDVT"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-B9C6TRKDVT');
    </script>

    <title>
        404
    </title>
</head>

<body>
    <div id="navbar">
        <a href="/" id="logo">Vineel Sai</a>
    </div>

    <div>
        <h1 style="text-align: center; padding-top: 40vh; color: red;">404!</h1>
    </div>

</body>

</html>
