.parallax {
    background-image: url("../../assets/background.jpg");
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    background-color: transparent;
    padding: 20px 10px;
    padding-inline-start: 100px;
    padding-bottom: 15px;
    padding-top: 15px;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar a {
    float: left;
    color: dodgerblue;
    text-align: center;
    font-weight: bold;
    padding: 12px;
    text-decoration: none;
    font-size: 30px; 
    line-height: 25px;
    border-radius: 4px;
}

.navbarRight {
    float: right;
    padding-inline-end: 100px;
}

.navbarRight a {
    font-size: 20px; 
    width: 110px;
}

.navbarRight a:hover {
    background-color: rgb(0, 100, 200);
    color: white;
    animation-name: expand-width;
    animation-duration: 1s;
}

.navbarRight .active {
    background-color: rgb(0, 100, 200);
    color: white;
}

.about {
    padding: 5%;
    padding-top: 10%;
    height: auto;
    width: 100%;
    background-color: rgb(243, 243, 243);
}

.skills {
    padding: 5%;
    height: auto;
    width: 100%;
    background-color: rgb(243, 243, 243);
    margin-top: 0px; 
    padding-top: 0px;
}

.projects {
    padding: 5%;
    height: auto;
    width: 100%;
    background-color: rgb(243, 243, 243);
}

.contact {
    padding: 5%;
    height: auto;
    width: 100%;
    background-color: rgb(243, 243, 243);
    margin-top: 0px; 
    padding-top: 0px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-bottom: 30px;
    padding: 5%;
    background-color: white;
}

.columnAbout1 {
    float: left;
    width: 25%;
}

.columnAbout2 {
    padding-left: 20px;
    float: left;
    width: 25%;
}

.columnAbout3 {
    padding: 20px;
    float: left;
    width: 50%;
}

.column {
    float: left;
    width: 50%;
}

.column3 {
    float: left;
    width: 30%;
}

.columnProjects {
    float: left;
    width: 23.33%;
    height: 400px;
    margin: 5%;
}

.contactColumn {
    float: left;
    width: 40%;
    margin: 5%;
}

.submit {
    background-color: rgb(0, 100, 200);
    color: white;
    font-weight: bolder;
    width: 100px;
    position: relative; left: 50%;
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit:hover {
    background-color: rgb(0, 80, 160);
}

.message {
    text-align: center;
    margin-top: 0px;
    color: rgb(0, 255, 0);
}

.messageError {
    text-align: center;
    margin-top: 0px;
    color: rgb(255, 0, 0);
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.row li{
    padding: 5px;
}

.container {
    float: left;
    border-radius: 5px;
    width: 100%; 
    z-index: 0;
}

.rounded {
    border-radius: 25px;
}

.titles{
    font-weight: bold;
    font-size: large;
}

.titleStyles{
   font-size: large;
}

.title{
    text-align: center; 
    margin-top: 0px; 
    margin-bottom: 0px; 
    padding-top: 0px;
    font-weight: bold;
    font-size: 50px;
}

.des{
    font-weight: lighter;
    font-size: medium;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.box {
    float: left;
    width: 25%;
    height: auto;
}

.width100 {
    width: 100%;
}

.fontItalic {
    font-style: italic !important;
    font-size: 20px;
    font-weight: 1% !important;
    text-align: center; 
    padding: 0px;
}

.float{
    position: fixed;
    visibility: hidden;
    width: 60px;
    height: 60px;
    bottom: 50px;
    right: 50px;
    border-radius: 50px;
    text-align: center;
}

.myFloat{
  	margin-top:15px;
}

.myFloat :hover{
  	color: red;
}

.typewrite {
    padding-top: 50vh; 
    margin: 0; 
    text-align: center; 
    color: white;
}

.social {
    padding: 10px;
    margin: 10px;
}

@media screen and (max-width: 1100px) {
    .navbar a.logo{
        float: none;
        display: none;
        text-align: none;
        opacity: 0;
        height: 0px;
        width: 0px;
    }
}

@media screen and (max-width: 900px) {
    .box {
        float: right;
        width: 50%;
        padding: 5%;
        height: auto;
    }
    .column {
        float: left;
        width: 90%;
        margin: 5%;
    }
    .columnProjects {
        float: left;
        width: 90%;
        height: 350px;
        margin: 5%;
    }
    .aboutme {
        float: inherit;
        width: 100%;
        height: auto;
        padding: 0%;
    }

    .column3 {
        float: left;
        width: 40%;
    }
    
    .columnAbout1 {
        float: left;
        width: 50%;
    }

    .columnAbout2 {
        float: left;
        width: 50%;
    }

    .columnAbout3 {
        float: left;
        width: 100%;
    }
    .navbarRight{
        padding-right: 50px;
    }
}

@media screen and (max-width: 800px) {
    .navbarRight{
        padding-right: 25px;
    }
}

@media screen and (max-width: 750px) {
    .navbarRight{
        padding-right: 10px;
    }
}

@media screen and (max-width: 700px) {
    .navbar {
        float: none;
        display: none;
        text-align: none;
        opacity: 0;
        height: 0px;
        width: 0px;
    }
    .columnAbout1{
        width: 100%;
    }
    .columnAbout2{
        width: 100%;
    }
    .columnAbout3{
        width: 100%;
    }
    .parent-image {
        width: 100%;
        height: 50%;
    }
    .navbarRight a:hover {
        width: 0px;
        height: 0px;
    }
    .box {
        float: initial;
        width: 100%;
        height: auto;
    }
    .contactColumn {
        float: left;
        width: 90%;
        margin: 5%;
    }

    .column3 {
        float: left;
        width: 60%;
    }
}